<div class="dproz-header">
<div class="row">

  <div class="col-md-10 dproz-logo">
    <img src="../../../../assets/images/Vector Smart Object.png" alt="logo">
  </div>
  <div class="col-md-14 navigation">
    <span routerLink="dproz/home">Home</span>
    <span routerLink="dproz/info">About Us</span>
    <span routerLink="dproz/services">Services</span>
    <span routerLink="dproz/blog">Blog</span>
    <span routerLink="dproz/contact">Contact Us</span>
    <span class="btn btn-primary" routerLink="dproz/login">Login</span>
    <span  class="btn btn-primary" routerLink="dproz/signup"  style="background: black; margin-left:10px">Signup</span>
  </div>
</div>
</div>