.signup-form {
  text-align: center;

  .overlay-text {
    color: #fff;
  }

  .signup-inputs {
    color: #737373;
  }

  .signup-icon {
    background: #fff;
    font-size: 24px;
    padding: 16px;
    p {
      margin-bottom: 0;
    }
  }

  .signup-text {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  form {
    box-shadow: 0px 0px 5px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #fff;
    text-align: left;

    input {
      margin-bottom: 12px;
      width: 100%;
      border-radius: 4px;
      border-color: rgba(54, 69, 79, 0.36);
      border-style: solid;
      border-width: 1px;
      padding: 5px
    }

    label {
      font-size: .875em;
      font-weight: 600; 
      margin-bottom: 2px; 
    }
  }


}

.signup-container {
  background: url('../../../assets/images/signup.png') no-repeat;
  background-size: 100% 260px;
  position: relative;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height: 260px;
  display: block;
  z-index:0;
  background-color: rgba(3, 169, 244, 0.9);
}
