<div class="signup-container overlay">
  <div class="row">
    <div class="offset-md-5 offset-sm-3 col-md-14 col-sm-18 signup-form">
      <div class="signup-text">
        <h2 class="overlay-text">Create An Account</h2>
        <p class="overlay-text">Please fill in your information and choose to be Provider or Consumer.</p>
      </div>
      <div class="signup-inputs">
        <div class="signup-icon"> 
          <p>SIGNUP</p>
        </div>
        <form action="">
          <label for="first-name">FIRST NAME</label>
          <input type="text" name="" id="first-name">
          <label for="last-name">LAST NAME</label>
          <input type="text" name="" id="last-name">
          <label for="email">EMAIL</label>
          <input type="text" name="" id="enail">
          <label for="password">PASSWORD</label>
          <input type="text" name="" id="password">
          <label for="name">RE-TYPE PASSWORD</label>
          <input type="text" name="" id="retype-password">
          <p>USER TYPE</p>
          <input type="checkbox" name="Service Provider" id="provider">
          <label for="provider">Service Provider</label>
          <input type="checkbox" name="Service Consumer" id="consumer">
          <label for="consumer">Service Consumer</label>
          <label for="">CAPTCHA</label>
          <input type="text" name="" id="">
          <button type="submit"></button>
        </form>
        
      </div>
    </div>

  </div>
</div>